body, html {
  height: 100%;
  margin: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: bg-animation 40s infinite;
  transition: background 5s ease-in-out;
}

@keyframes bg-animation {
  0%, 100% {
    background: url('bg3.jpg') no-repeat center center fixed;
    background-size: cover;
    
  }
  50% {
    background: url('bg3.jpg') no-repeat center center fixed;
    background-size: cover;
   
  }
}

header, .single, footer {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0);
}

.single img {
  max-width: 50%;  /* Slightly smaller */
}

.info a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}

.info a:hover {
  background-color: #0056b3;
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  header, .single, footer {
    margin: 10px;
    padding: 10px;
  }
  .single img {
    max-width: 90%;  /* Larger on mobile */
  }
}
/* Basic typography settings */
body {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Oswald', sans-serif;  /* Fallback font */
  color: #ffffff;  /* white text */
}

header h1, .info h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: bold;
}

.info a, footer a {
  font-size: 1.3rem;
}

/* Adding some text shadow for readability */
header h1, .info h2, .info a, footer a, footer p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.);
}

/* Footer specific */
footer {
  letter-spacing: 2px;
}


