/* Reset and Global Styles */
body, html {
  margin: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

/* Background Overlay */
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: rgba(0, 0, 0, 0);
  animation: dimAnimation 10s infinite alternate;
}

@keyframes dimAnimation {
  0%, 100% {
    background: rgba(0, 0, 0, 0);
  }
  50% {
    background: rgba(0, 0, 0, 0.5);
  }
}

/* Background Image */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  background: url('bg4.jpg') no-repeat center center fixed;
  background-size: cover;
}

.hidden {
  display: none;
}


/* Container Styles */
header, .single, footer {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

/* Text Styles */
header h1, .info h2 {
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.info a, footer a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #a86d20;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.info a:hover {
  background-color: #8B6914;
}

/* Footer and Media Queries */
footer {
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  header, .single, footer {
    margin: 10px;
    padding: 10px;
  }
  .single img {
    max-width: 90%;
  }
}

/* Artwork and Logos */
.single img {
  max-width: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.streaming-logo {
  width: 36px;
  height: auto;
  margin-right: 10px;
}

/* Remove Footer Styles */
footer a {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.vip-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* This takes up 80% of the viewport height */
    font-size: 3rem;
    color: gold;
}

.gold-button {
    display: block;
    width: 200px;
    height: 60px;
    margin: 20px auto; /* This centers the button horizontally */
    background-color: #D4AF37; /* Gold color */
    color: white;
    text-align: center;
    border-radius: 8px;
    line-height: 60px; /* This centers the text vertically */
    font-size: 1.5rem;
    transition: background-color 0.3s; /* Smooth color change */
}

.gold-button:hover {
    background-color: #C9A02E; /* Slightly darker gold for hover effect */
    text-decoration: none; /* Removes underlining */
}


