/* General Styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif; /* Fallback font */
  color: #ffffff;  /* White text */
}

/* Background Animation */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: bg-animation 40s infinite;
  transition: background 5s ease-in-out;
}

@keyframes bg-animation {
  0%, 100% {
    background: url('bg4.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  50% {
    background: url('bg4.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

/* Header, Single Sections, and Footer */
header, .single, footer {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0);
}

/* Text and Button Styles */
header h1, .info h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.info a, footer a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.info a:hover {
  background-color: #0056b3;
}

/* Footer specific */
footer {
  letter-spacing: 2px;
}

/* Single Artworks */
.single img {
  max-width: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

/* Streaming Logos */
.streaming-logo {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

/* Media Queries for Mobile */
@media (max-width: 600px) {
  header, .single, footer {
    margin: 10px;
    padding: 10px;
  }
  .single img {
    max-width: 90%;
  }
}
